body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-color: #f6fbf7;
    color: #4a4a4a;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

h1{
    color: #323131;
    font-size: 30px;
    margin-bottom: 15px;
}

h2{
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 20px;
}

i{
    color: #666;
    display: block;
    margin-bottom: 20px;
}

img{
    display: block;
    margin: 30px auto;
    width: 100%;
    max-width: 320px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

hr{
    border: none;
    border-top: 1.5px solid #97a09950;
    margin: 50px 0;
}

p{
    margin-bottom: 15px;
}

ul, ol{
    padding-left: 20px;
}

li{
    margin-bottom: 6px;
}

a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 14px;
    background-color: #2f3b33;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

a:hover {
    background-color: #7bd389;
    color: white;
}