body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    line-height: 30px;
}

header{
    /* background-color:yellowgreen; */
    background:url(../img/room_background_img2.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

header img{
    /* border-radius: 400px; */
    /* border: 10px solid #FF5AA8; */
    width:220px;
    height: 220px;
    object-fit: cover;

    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 0 5px #ff5aa8,
    0 10px 25px rgba(0,0,0,0.3);
}

header h1{
    font-size: 50px;
    color: #ff6fb0;
    text-shadow: 2px 2px 0 black,
                4px 4px 0 rgba(0,0,0,0.5);
    font-family: "Italianno", cursive;
      }
      
h1, h2{
    font-family: "Italianno", cursive;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 18px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 40px;
    color: #ff6fb0;
    margin: 40px 0 10px;
}


a{
    color:blueviolet;
}

a:hover{
    color:aqua;
    background-color: chocolate;
}

footer{
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    color:white;
    padding: 50px;
}

footer a{
    color: white;
}

footer p{
    margin: 0px;
}

footer a:hover{
    opacity: 0.5; 
    background-color: transparent;
}

p.caption{
    color: rgb(18, 18, 108);
    font-style: italic;
    margin-top: 0;
}