body{
    margin:0;
    font-family: "Pretendard", sans-serif;
    background: #fdf6ff;
    color: rgb(75, 73, 73);
    padding: 80px 25px;
    max-width: 720px;
    margin: 0 auto;
}

header{
    margin-bottom: 80px;
}

header p{
    margin-top: 20px;
    font-size: 15px;
}

h1{
    font-size: 44px;
    margin: 0;
    letter-spacing: -0.5px; /*자간 기억해두기*/
}

main{
    margin-top: 60px;;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    padding: 30px 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

li:hover{
    transform: translateX(10px);  
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

li:nth-child(1):hover h3{
    color: #7bd389;
  }
  
li:nth-child(2):hover h3{
    color: #ffb4a2;
  }
  
li:nth-child(3):hover h3{
    color: #a0c4ff;
  }
  
li:nth-child(4):hover h3{
    color: #cdb4db;
  }
  
a{
    text-decoration: none;
    color: rgb(88, 86, 86);
}

h3{
    margin: 0 0 6px;
    font-size: 20px;
}

p{
    margin: 0;
    color: #757272;
    font-size: 14px;
    line-height: 1.6;
}

footer{
    text-align: center;
    padding: 50px;
}

@keyframes float{
    0% { transform: translateY(0); }
    50% { transform: translateY(-6px); }
    100% { transform: translateY(0); }
}